bp-editable-activity/
wp-content/uploads/
serverstats/
google*.html
wp-content/log/wprss/
wp-content/themes/ratburger_devel/ratburger/build.php
wp-content/themes/twentyseventeen
wp-content/themes/twentynineteen
wp-content/themes/twentytwenty
