# For authentication by password
#AuthUserFile "/server/passwords/Ratburger"
#AuthName "Test site: changes are not preserved"
#Require valid-user
# For authentication by IP address range
#<limit GET>
#order allow,deny
#allow from 193.8.230
#satisfy any
#</limit>

# Block rogue user agents
BrowserMatchNoCase 'Go-http-client' evilbots
Order Allow,Deny
Allow from ALL
Deny from env=evilbots

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
