/* RATBURGER LOCAL CODE

    The following CSS supports features implemented in
    Ratburger local code.  Each definition describes the
    local code which uses it.

    This CSS file is included in both administration
    pages and the site's content pages. */

/* We want to highlight different types of notifications
   by colour.  The following definitions are invoked in
   ~/plug/wp-ulike/inc/general-hooks.php to apply specific
   styles to different kinds of notificiations. */
span.rb_notif_new_comment {
    color: rgba(255, 255, 255, 1.0);
}
span.rb_notif_post_like {
    color: rgba(240, 245, 250, 0.7);
}
span.rb_notif_comment_like {
    color: rgba(240, 245, 250, 0.7);
}
span.rb_notif_new_group_comment {
    color: rgba(96, 192, 96, 1.0);
}
span.rb_notif_new_group_post {
    color: rgba(128, 255, 128, 1.0);
}
span.rb_notif_group_topic_like {
    color: rgba(80, 164, 80, 1.0);
}
span.rb_notif_group_post_like {
    color: rgba(80, 164, 80, 1.0);
}
span.rb_notif_group_comment_like {
    color: rgba(80, 164, 80, 1.0);
}
span.rb_notif_mark_all_read {
    color: rgba(224, 224, 64, 1.0);
}
/* The following style is applied to notifications of new
   messages by the filter function
   rb_filter_notification_message() in ~/theme/functions.php. */
span.rb_notif_new_message {
    color: rgba(230, 138, 0, 1.0);
}
/* Common hover and focus behaviour for all rb_notif styles */
.rb_notif_highlight:hover, rb_notif_highlight:focus {
    color: #007acc;
}

/* The following definitions override eponymous styles
   declared in wp-includes/css/admin-bar.css which take
   effect for display windows with narrow screen widths
   as are found on tablets and mobile phones.  They have
   the effect of causing the notification bubble and
   drop-down list to display on these devices and, for
   those with very narrow screens, to left-align the
   drop-down list on the screen and allow it to extend
   all the way to the right to provide the maximum room
   for notifications. */

@media screen and ( max-width: 782px ) {
    /* Show notification bubble and drop-down list on
       tablets and phones. */
    #wp-toolbar > ul > li {
        display: block;
    }

    /* Add spacing between root menu items. */
    #wpadminbar ul#wp-admin-bar-root-default > li {
        margin-right: 1em;
    }

    /* Setting static position allows the drop-down
       menus for notifications and the avatar to
       extend to the right of the screen, not be
       aligned with the item in the administration
       bar, providing a little more room in them. */
    #wpadminbar .ab-sub-wrapper,
    #wpadminbar ul,
    #wpadminbar ul li {
        position: static;
    }

    /* On narrow screen devices, we left-align the
       notifications drop-down menu, providing the
       maximum room for notifications. */
    #wp-admin-bar-bp-notifications-default {
        left: 0px;
    }

}

/* END RATBURGER LOCAL CODE */
